:root {
  --font1: 'Montserrat', sans-serif;
  --font2: 'Oswald', sans-serif;
  --color1: #2E323F;
  --color2: #3B4050;
  --color3: #F1F1F1;
  --color4: #FFFFFF;
  --color5: #A59678;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 0.4em;
  padding: 0.6em 1.2em;
  background-color: red;
}
